<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<!--Entry to identify the handler for the Kerosene ORM configuration section.-->
		<section name="keroseneORM"
				 type="Kerosene.ORM.Configuration.ORMConfiguration, Kerosene.ORM" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<!--The configuration section for Kerosene ORM.-->
	<keroseneORM>
		
		<!--Common options for the parsing engines.-->
		<parser complexTags="True_Or_False" />

		<!--Common options for data engines-->
		<dataEngine relaxTransformers="True_Or_False" />

		<!--The collection of custom engines to register (optional entry).-->
		<customEngines>
			<add id="Whatever_Unique_(But_Not_Relevant)_Id_(mandatory)"
				 type="The_Class_Name_Of_The_Engine_(mandatory)"
				 assembly="The_Assembly_Name_Of_The_Engine_(mandatory)"
				 invariantName="The_Invariant_Provider_Name"
				 serverVersion="The_Server_Version"
				 caseSensitiveName="True_Or_False"
				 parameterPrefix="The_Parameters_Prefix"
				 positionalParameters="True_Or_False"
				 supportsNativeSkipTake="True_Or_False"
				 />
		</customEngines>

		<!--Common options for data links-->
		<dataLink
			connectionString="Whatever_Valid_Connection_String_Entry_Or_Contents"
			retries="Number_Or_Retries_To_Open_The_Link"
			retryInterval="Milliseconds_Between_Retries"
			/>
		
	</keroseneORM>

</configuration>
