<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<!--Entry to identify the handler for the Kerosene ORM configuration section.-->
		<section name="keroseneORM"
				 type="Kerosene.ORM.Configuration.ORMConfiguration, Kerosene.ORM" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<!--The configuration section for Kerosene ORM.-->
	<keroseneORM>
		
		<!--Common options for data maps-->
		<dataMap
			enableCollector="True_Or_False"
			enableCollectorGC="True_Or_False"
			collectorInterval="Milliseconds_Between_Collector_Fires"
			enableWeakMaps="True_Or_False"
			trackEntities="True_Or_False"
			trackChildEntities="True_Or_False"
			/>
		
	</keroseneORM>

</configuration>
