<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<!--Entry to identify the handler for the Kerosene ORM configuration section.-->
		<section name="keroseneORM" type="Kerosene.ORM.Configuration.ORMConfiguration, Kerosene.ORM" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<!--The configuration section for Kerosene ORM.-->
	<keroseneORM>

		<!--Whether complex tags are kept or not (optional entry).-->
		<complexTags keep="TrueOrFalse" />

		<!--The connection string to use with Kerose ORM (optional entry).-->
		<connectionString name="WhateverValidEntryNameInThisFile" />

		<!--Options for data link transformers (optional entry).-->
		<transformers relax="TrueOrFalse" />

		<!--The collection of custom engines to register (optional entry).-->
		<!--id: mandatory, to differentiate among the entries in the configuration file.-->
		<!--type: mandatory, the name of the class where the engine is defined.-->
		<!--assembly: mandatory, the name of the assembly to load where the engine is defined.-->
		<!--invariantName: optional to override the provider used in the engine's class definition.-->
		<!--serverVersion: optional to override the server version used in the engine's class definition.-->
		<!--caseSensitiveName: optional to override the case sensitive name setting used in the engine's class definition.-->
		<!--parameterPrefix: optional to override the parameter prefix setting used in the engine's class definition.-->
		<!--positionalParameters: optional to override the positional parameters setting used in the engine's class definition.-->
		<!--supportsNativeSkipTake: optional to override the supports native skip take setting used in the engine's class definition.-->
		<customEngines>
			<add id="WhateverUniqueInThisFile"
				 type="TheClassNameOfTheEngine"
				 assembly="TheAssemblyNameOfTheEngine"
				 invariantName="TheInvariantProviderName"
				 serverVersion="TheServerVersion"
				 caseSensitiveName="TrueOrFalse"
				 parameterPrefix="TheParameterPrefix"
				 positionalParameters="TrueOrFalse"
				 supportsNativeSkipTake="TrueOrFalse"
				 />
		</customEngines>

	</keroseneORM>

</configuration>
